<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssg.wms.outbound.mappers.DispatchMapper">

    <select id="getDispatchNameList">
        select dispatch_id, car_id, car_type, driver_name, assigned_date, loaded_box
        from Dispatch
        where driver_name = #{driverName}

        <if test="criteria != null">
            ORDER BY assigned_date DESC
            LIMIT #{criteria.amount} OFFSET #{criteria.skip}
        </if>

    </select>

    <select id="getDispatchDetailById">
        select dispatch_id, approved_order_id, car_id, car_type, driver_name, assigned_date, dispatch_status, loaded_box, maximum_box
        from Dispatch
        where dispatch_id = #{dispatchId}
    </select>
<!--    배차 정보 등록-->
    <insert id="insertDispatchInformation"
            parameterType="com.ssg.wms.outbound.domain.dto.OutboundOrderDTO"
            useGeneratedKeys="true"
            keyProperty="dispatchId">
        INSERT INTO Dispatch (
        approved_order_id,
        car_id,
        car_type,
        driver_name,
        assigned_date,
        dispatch_status,
        loaded_box,
        maximum_box
        )
        VALUES (
        #{approvedOrderID},
        #{carId},
        #{carType},
        #{driverName},
        NOW(),
        #{dispatchStatus},
        #{loadedBox},
        100
        )
    </insert>

    <update id="updateDispatchInformation" parameterType="com.ssg.wms.outbound.domain.dto.DispatchDTO">
        UPDATE Dispatch
        SET
        car_id = #{carId},
        car_type = #{carType},
        driver_name = #{driverName},
        dispatch_status = #{dispatchStatus}
        WHERE
        approved_order_id = #{approvedOrderID}
    </update>

<!--    // 운송장 번호 등록-->
    <!--    등록완료 PENDING, ASSIGNED등등 으로 바꾸가-->
    <insert id="insertMinimalWaybill">
        INSERT INTO Waybill (
        dispatch_id,
        waybill_number,
        waybill_date,
        waybill_status
        ) VALUES (
        #{dispatchId},
        #{waybillNumber},
        NOW(),
        '등록완료'  )
    </insert>

    <select id="getDispatchIdByApprovedOrderId" resultType="java.lang.Long">
        SELECT dispatch_id
        FROM Dispatch
        WHERE approved_order_id = #{approvedOrderId}
    </select>

    <update id="updateLoadedBox">
        UPDATE Dispatch
        SET
        loaded_box = #{loadedBox}
        WHERE
        dispatch_id = #{dispatchId}
        AND approved_order_id = #{approvedOrderId}
    </update>

    <select id="getAllDrivers" resultType="com.ssg.wms.outbound.domain.dto.DispatchDTO">
        SELECT
        driver_name  AS driverName,
        car_id       AS carId,
        car_number   AS carNumber,
        car_type     AS carType
        FROM Driver
    </select>

</mapper>
