<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssg.wms.product_stock.mappers.ProductStockMapper">
    <select id="selectStockForUpdate" resultType="com.ssg.wms.product_stock.dto.StockInfoDTO">
        SELECT
        ps_id,
        warehouse_id,
        section_id,
        quantity,
        product_status
        FROM ProductStock
        WHERE ps_id = #{psId}
        FOR UPDATE
    </select>

    <select id="selectStocksForUpdateByWarehouseAndProduct" resultType="com.ssg.wms.product_stock.dto.StockInfoDTO">
        SELECT
        ps.ps_id,
        ii.product_id,
        ps.warehouse_id,
        ps.section_id,
        ps.quantity,
        ps.product_status
        FROM ProductStock ps
        INNER JOIN InboundItem ii ON ps.inbound_item_id = ii.inbound_item_id
        WHERE ps.warehouse_id = #{warehouseId}
        AND ii.product_id = #{productId}
        AND ps.quantity &gt; 0
        ORDER BY ps.ps_id
        FOR UPDATE
    </select>

    <update id="updateStockQuantity">
        UPDATE ProductStock
        SET
        quantity = #{quantity},
        last_update_date = NOW()
        WHERE ps_id = #{psId}
    </update>

    <insert id="insertStockLog">
        INSERT INTO ProductStockLog (
        ps_id,
        event_time,
        move_quantity,
        event_type,
        product_status,
        destination
        )
        VALUES (
        #{psId},
        NOW(),
        #{moveQuantity},
        #{eventType},
        #{productStatus},
        #{destination}
        )
    </insert>
</mapper>
